.p {
    padding: $spacer*.5 $spacer*.75;
}

.m {
    margin: $spacer*.5 $spacer*.75;
}

.opacity-100 {
    opacity: 100;
}

.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.border-radius-0 {
    border-radius: 0;
}