.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	background-color: white;
}

.closeButton {
	position: absolute;
	top:0;
	right: 0;
	z-index: 1500;
}